<!doctype html>
<html lang="en" ng-app="cpc.pikaday">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css"/>
</head>
<body>

<p>
    <strong>Using the default formats:</strong> <br>
    <input type="text" cpc-pikaday=""
           ng-model="date"/>

    <br/>

    Model value: {{date}}
</p>

<p>
    <strong>Using the MM-DD-YYYY for the input and MM/DD/YYY for the model:</strong> <br>
    <input type="text" cpc-pikaday="" input-format="MM-DD-YYYY" model-format="MM/DD/YYYY"
           ng-model="dateWithFormat"/>
    <br/>

    Model value: {{dateWithFormat}}
</p>

<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/pikaday/pikaday.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="src/pikaday-directive.js"></script>
</body>
</html>